
@{ 
    SessionLogin User = (SessionLogin)Session["User"];
    bool interviewer = false;
    if (User.Role == UserLevel.Interviewer)
    {
        interviewer = true;
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @using HiringFunnel.DTO;
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (!interviewer)
                    {
                    <li class='@(ViewBag.Title == "Home" ? "active" : "")'>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class='@(ViewBag.Title == "UserManagement" ? "active" : "")'>@Html.ActionLink("UserManagement", "UserManagement", "Home")</li> 
                    <li class='@(ViewBag.Title == "ContactManagement" ? "active" : "")'>@Html.ActionLink("ContactManagement", "ContactManagement", "Home")</li>
                    <li class='@(ViewBag.Title == "ProcessManagement" ? "active" : "")'>@Html.ActionLink("ProcessManagement", "Index", "Process")</li>
                    }
                    else
                    {
                        <li class='@(ViewBag.Title == "Interviewer" ? "active" : "")'>@Html.ActionLink("Aktivni Korisnici", "Interviewer", "Process")</li>
                    }
                    <li class='@(ViewBag.Title == "Metrics"?"active":"")'>@Html.ActionLink("Metrics", "Index", "Metrics")</li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    @if (Session["User"] != null)
                        {
                            SessionLogin session= (SessionLogin)Session["User"];

                        <li>@Html.ActionLink(@session.FirstName, "Index", "Home")</li>
                                                    <li>
                                                        @Html.ActionLink("LogOut", "LogOut", "Login") 
                                                    </li>
                    }
                </ul>

            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
